body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline-block;
    margin: 20px;
}

h2{
    color: rgb(129, 25, 226);
}

p{
color: white;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
li{
    color: white;
}